//Primary Colors
$pale-blue: hsla(225, 100%, 94%, 0.726);
$bright-blue: hsl(245, 75%, 52%);
$b-blue: hsla(245, 75%, 52%, 0.744);

// Neutral colors
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$footer-link: hsl(228, 45%, 44%);